{% extends 'base.html' %}
{% block content %}
  <main role="main" class="container">
    <div class="jumbotron">
      <h1>Blog</h1>
      <p class="lead">Leandra's Blog Page</p>
      <table id = "incidents" class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Date</th>
              <th>Time</th>
              <th>Category</th>
              <th>Content</th>
            </tr>
          </thead>
          <tbody>
          {% for i in range(length) %}
            <tr>
              <th>{{posts[i][0]}}</th>
              <th>{{posts[i][1]}}</th>
              <th>{{posts[i][2]}}</th>
              <th>{{posts[i][3]}}</th>
              <th>{{posts[i][4]}}</th>
              <th>{{posts[i][5]}}</th>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
  </main>
{% endblock %}