{% extends 'base.html' %}
{% block content %}
  <main role="main" class="container">
    <div class="jumbotron">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <hr>
          <div class="flashes flash_msg">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
          </div>
          <hr>
        {% endif %}
      {% endwith %}
      <h1>Edit Blog Post #{{post.bid}}</h1>
      <p class="lead">Spruce it up just a bit...</p>
      <form>
        <label><strong>Title:</strong></label>
        <br>
        <input type="text" name="title" value="{{post.title}}">
        <br>
        <br>
        <label><strong>Subitle:</strong></label>
        <br>
        <input type="text" name="sub_title" value="{{post.sub_title}}">
        <br>
        <br>
        <label><strong>Category:</strong></label>
        <br>
        <input type ='radio'  name='category' value ='general' {% if post.category == 'general' %}checked='checked'{% endif %}> General
        <br>
        <input type ='radio'  name='category' value ='crafting' {% if post.category == 'crafting' %}checked='checked'{% endif %}> Crafting
        <br>
        <input type ='radio'  name='category' value ='baking' {% if post.category == 'baking' %}checked='checked'{% endif %}> Baking/Cooking
        <br>
        <input type ='radio'  name='category' value ='travel' {% if post.category == 'travel' %}checked='checked'{% endif %}> Travel
        <br>
        <br>
        <label><strong>Content:</strong></label>
        <br>
        <input type="hidden" name="content">
        <!-- Create the editor container -->
        <div id="addEditor">
        </div>
        <!--
        <br>
        <input type='submit' value='Submit'>
        -->
        <br>
        <div class="row">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </main>
  <script>
    $('#addEditor').append({{post.content | safe}});
    var postType = 'edit';
    var post_id = {{post.bid}};
  </script>
{% endblock %}