{% extends 'base.html' %}
{% block content %}
  <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/post-bg.jpg') }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
              <h2 class="subheading">{{ post.sub_title }}</h2>
              <span class="meta">Posted by
                {{ post.author }}
                on {{ post.date_time.strftime('%B %d, %Y') }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div id="blog_post_content" class="col-lg-8 col-md-10 mx-auto">
          </div>
        </div>
      </div>
    </article>
    <script>
      var blog_post_content = document.getElementById("blog_post_content");
      if(blog_post_content){
        $('#blog_post_content').html({{ post.content|safe }});
      }
    </script>
{% endblock %}