{% extends 'base.html' %}
{% block content %}
  <main role="main" class="container">
    <div class="jumbotron">

      <h1>Blog Admin Add</h1>
      <p class="lead">Add a new blog page</p>
      <form>
          <h3>Title:</h3>
          <input type="text" name="title">
          <br>
          <br>
          <h3>Subtitle:</h3>
          <input type="text" name="sub_title">
          <br>
          <br>
          <h3>Category:</h3>
          <input type ='radio'  name='category' value ='general'> General
          <br>
          <input type ='radio'  name='category' value ='crafting'> Crafting
          <br>
          <input type ='radio'  name='category' value ='baking'> Baking/Cooking
          <br>
          <input type ='radio'  name='category' value ='travel'> Travel
          <br>
          <br>
          <h3>Content:</h3>
          <input type="hidden" name="contents">
          <!-- Create the editor container -->
          <div id="addEditor">
          </div>

          <br>
          <div class="row">
            <button class="btn btn-primary" type="submit">Save Profile</button>
          </div>
      </form>

    </div>
  </main>
{% endblock %}