{% extends 'base.html' %}
{% block content %}
  <main role="main" class="container">
    <div class="jumbotron">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <hr>
          <div class="flashes flash_msg">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
          </div>
          <hr>
        {% endif %}
      {% endwith %}

      <div class="row">
        <div class="col-md">
          <h1>Landing Page Admin</h1>
        </div>
      </div>

      <p class="lead">Leandra's Landing Admin Page</p>
      <div class="row">
        <div class="col-md">
          <h3>Carousel One:</h3>
          
          <label><strong>Headline:</strong></label>
          <br>
          <input type="text" name="headline_1">
          <br>
          <br>
          <label><strong>Tag Line:</strong></label>
          <br>
          <textarea name="tag_line_1"></textarea>
          <br>
          <br>
          <label><strong>Button Text:</strong></label>
          <br>
          <input type="text" name="button_text_1">
          <br>
          <br>
          <label><strong>Button Link:</strong></label>
          <br>
          <input type="text" name="button_link_1">
          <br>
          <br>
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        <div class="col-md">

          <h3>Carousel Two:</h3>
          
          <label><strong>Headline:</strong></label>
          <br>
          <input type="text" name="headline_2">
          <br>
          <br>
          <label><strong>Tag Line:</strong></label>
          <br>
          <textarea name="tag_line_2"></textarea>
          <br>
          <br>
          <label><strong>Button Text:</strong></label>
          <br>
          <input type="text" name="button_text_2">
          <br>
          <br>
          <label><strong>Button Link:</strong></label>
          <br>
          <input type="text" name="button_link_2">
          <br>
          <br>
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        <div class="col-md">

          <h3>Carousel Three:</h3>
          
          <label><strong>Headline:</strong></label>
          <br>
          <input type="text" name="headline_3">
          <br>
          <br>
          <label><strong>Tag Line:</strong></label>
          <br>
          <textarea name="tag_line_3"></textarea>
          <br>
          <br>
          <label><strong>Button Text:</strong></label>
          <br>
          <input type="text" name="button_text_3">
          <br>
          <br>
          <label><strong>Button Link:</strong></label>
          <br>
          <input type="text" name="button_link_3">
          <br>
          <br>
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </div>
    </div>
  </main>
{% endblock %}